# Exclude everything
/*

# Except for default project files
!/.aiexclude
!/.editorconfig
!/.github
!/build-aux
!/cmake
!/data
!/docs
!/scripts
!/src
!/tests
!/vcpkg-overlay-ports
!/vcpkg-triplets
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!GEMINI.md
!LICENSE
!README.md
!vcpkg.json
!vcpkg-configuration.json

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
